.indicator-group {
    position: relative;
    width: 300px;
    height: 30px;
    margin: auto;
    display: block;
    margin-top: 50px;
}
.indicator {
    background-color:red;
    border-radius: 100%;
    position: absolute;
    top: 0;
    font-weight: bold;
    color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    display: block;
    transition: opacity linear 0.5s;
    opacity: 0.5;
    &.active{
        opacity: 1;
    }
    span {
        position: absolute;
        top: 2px;
        left: 10px;
    }
    &:nth-child(1) {
        left: 0;
    }
    &:nth-child(2) {
        left: 135px;

        &:before{
            content: "";
            height: 10px;
            width:111px;
            top: 10px;
            right: 25px;
            position: absolute;
            background-color:red;
        }
    }
    &:nth-child(3) {
        left: 270px;
        &:before{
            content: "";
            height: 10px;
            width:111px;
            top:10px;
            right: 25px;
            position: absolute;
            background-color:red;
        }
    }
}
.page {
    margin-top: 50px;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear;
    .form-group {
        margin-top: 30px;
    }
    button{
        margin-top: 50px;
    }
    &.active {
        visibility: visible;
        opacity: 1;
    }
    hr {
        margin-top: 30px;
        margin-bottom: 40px;
    }
}
@keyframes paginado {
    0% {
        display: block;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}