.card{
    margin-top: 50px;
    margin-bottom: -250px;
    padding-top: 30px;
    padding-bottom: 100px;
}
@media(max-width: 991px) {
    .card{
        margin-bottom: 0px;
        padding-top: 100px;
    }
}